/*nav*/
.navbar {
  background-color: rgba(255, 255, 255, 0.95)
 }

 .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #43816F !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  position: relative;
}

a.nav-link{
  color: #22333B !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-nav .nav-link.active::after, .navbar-nav .nav-link.show::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px; 
  width: 100%;
  height: 0.15vmax;
  background-color: #43816F;
}



@media (max-width: 576px) {
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    font-family: "Lato", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
    position: relative;
  }
  
  .navbar-nav .nav-link.active::after, .navbar-nav .nav-link.show::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; /* Adjust this value to control the space between text and underline */
    width: 100%;
    height: 0vmax; /* Adjust the thickness of the underline */
    background-color: #43816F;
  }
}
 
.navbar .navbar-nav .nav-link {
  color: #22333B;
  font-size: 1.56vmax;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.4;
}


.navbar .navbar-nav .nav-link:hover{
  color: #547B8C;
  font-family: "Lato", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}
.navbar-logo-centered .navbar-nav .nav-link{
  padding: .5em 1em;
}
/*nav*/

p.p-0.m-0{
    font-size: 1.5vmax !important;
    font-family: "Lato", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-decoration: underline;
}

.py-2 {
    padding-top: .6rem !important;
    padding-bottom: .6rem !important;
}

h5{
    font-size: 4vmin !important;
    font-family: "Lato", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
  }

  .d-flex {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
   }

  .btn-primary {
    --bs-btn-color: #22333B !important;
    --bs-btn-bg: #FFB202 !important;
    --bs-btn-border-color: #FFB202 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #547B8C !important;
    --bs-btn-hover-border-color: #547B8C !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #43816F !important;
    --bs-btn-active-border-color: #43816F !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

.btn {
    border-radius: 10px !important;
}

@media (max-width: 576px) {
    h5{
        font-size: 3.5vmin !important;
        font-family: "Lato", sans-serif !important;
        font-weight: 700 !important;
        font-style: normal !important;
      }

      p.p-0.m-0{
        font-size: 1.2vmax !important;
        font-family: "Lato", sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
        text-decoration: underline;
    }

    .d-flex {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
       }

       h2.lato-bold {
        font-size: 2vmax !important;
        margin-bottom: 0.2rem;
    }

    p.text{
      font-size: 1.4vmax;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: .1rem
      
  }
  }

  .bg-white{
    color: #22333B;
 }
 
 .bg-blue{
     color:#FDFEFD;
     background-color: #547B8C;
 }
 
 p.text{
     font-size: 1.4vmax;
     font-family: "Lato", sans-serif;
     font-weight: 400;
     font-style: normal;
     margin-bottom: .5rem
 }
 
 h1.lato-bold {
     font-size: 2.8vmax;
 }
 
 .h3, h3 {
  font-size: 1.85vmax !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
  color: #547B8C !important;
}

.star-icon {
  font-size: 2.5vmax;
  color: #547B8C;
}

p.mb-2.ms-3.me-4{
  font-size: 1.4vmax;
     font-family: "Lato", sans-serif;
     font-weight: 400;
     font-style: normal;
     color: #547B8C;
}

.border {
  --bs-border-width: 1px !important;
  --bs-border-color: #547B8C !important;
}
 
.h6, h6 {
  font-size: 1.4rem !important;
  color: #22333B;
  font-family: "Lato", sans-serif !important;
    font-weight: 700 !important;
    font-style: italic !important;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #547B8C !important;
  --bs-btn-border-color: #547B8C !important;
  --bs-btn-hover-color: #547B8C !important;
  --bs-btn-hover-bg:  #fff !important;
  --bs-btn-hover-border-color:  #547B8C !important;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #43816F !important;
  --bs-btn-active-border-color: #43816F !important;
}

.h4, h4 {
  
}

h4 {
  display: block;
  font-size: 0.5rem !important;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}


 
@media (max-width: 700px){
  .h6, h6 {
    font-size: 0.9rem !important;
    color: #22333B;
    font-family: "Lato", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
  }
}

 p.card-text{
   color: #22333B;
 }
 
 p.text-card{
   font-size: 1.3vmax;
   color: #43816F;
   font-family: "Lato", sans-serif;
     font-weight: 700;
     font-style: italic;
 }
 
 
 .col div{
     border-color: #547B8C !important;
     color: #547B8C;
    }
 
h2.lato-bold {
     font-size: 2.5vmax;
 }
 
 .flip-card {
   background-color: transparent;
   min-width: 28vmin;
   min-height:12vmin;
   perspective: 1000px;
 }
 
 .card {
   border: 0px !important;
 }

 /*footer*/

 footer{
  background-color: #96c5b7;
}
.footerContainer{
  width: 100%;
  padding-top: 2vmax;
}
.socialIcons{
  display: flex;
  justify-content: center;
}

.socialIcons a i{
  font-size: 2em;
  color:#22333B;
  opacity: 0,9;
}

/* Hover affect on social media icon */
.socialIcons a:hover{
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

hr {
  margin: 0.1vmin !important;
  margin-bottom: 1vmax !important;
  color: #22333B !important;
  border: 0;
  opacity: .25;
}

a.icon {
  color: #43816F !important;
  text-decoration: none !important;
  padding-right: 1.5vmin !important;
  padding-left: 1.5vmin !important;
}

.bg-trav{
  background-color: #96c5b7;
}

.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #96c5b7;
  padding: 1vmax;
  text-align: center;
}
.footerBottom p{
  color: #22333B;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 0px;
  }

  .socialIcons a i{
    font-size: 1.2em;
    color:#22333B;
    opacity: 0,9;
  }
}

/*footer*/