/*nav*/
.navbar {
    background-color: rgba(255, 255, 255, 0.95)
   }
  
   .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #43816F !important;
    font-family: "Lato", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    position: relative;
  }
  
  a.nav-link{
    color: #22333B !important;
  }
  
  .navbar-toggler {
    border: none !important;
  }
  
  .navbar-nav .nav-link.active::after, .navbar-nav .nav-link.show::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 100%;
    height: 0.15vmax;
    background-color: #43816F;
  }
  
  
  
  @media (max-width: 576px) {
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
      font-family: "Lato", sans-serif !important;
      font-weight: 700 !important;
      font-style: normal !important;
      position: relative;
    }
    
    .navbar-nav .nav-link.active::after, .navbar-nav .nav-link.show::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px; /* Adjust this value to control the space between text and underline */
      width: 100%;
      height: 0vmax; /* Adjust the thickness of the underline */
      background-color: #43816F;
    }
  
    .navbar .navbar-nav .nav-link {
      color: #22333B;
      font-size: 1.56vmax;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      padding: 0.4;
    }
  }
   
  .navbar .navbar-nav .nav-link {
    color: #22333B;
    font-size: 1.4vmax;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.4;
  }
  
  
  .navbar .navbar-nav .nav-link:hover{
    color: #547B8C;
    font-family: "Lato", sans-serif !important;
      font-weight: 600 !important;
      font-style: normal !important;
  }
  .navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
  }
  
  /*nav*/

  .bg-white{
    color: #22333B;
 }
 
 .bg-blue{
     color:#FDFEFD;
     background-color: #547B8C;
 }
 
 p{
     font-size: 1.34vmax;
     font-family: "Lato", sans-serif;
     font-weight: 400;
     font-style: normal;
 }
 
 h1.lato-bold {
     font-size: 2.8vmax;
 }
 
 h3.card-title{
   font-size: 3.8vmin;
   color: #22333B;
 }
 
 h4.card-title{
   font-size: 3.8vmin;
 }
 
 p.card-text{
   color: #22333B;
 }
 
 p.text-card{
   font-size: 1.3vmax;
   color: #43816F;
   font-family: "Lato", sans-serif;
    font-weight: 700;
  font-style: italic;
 }
 
 .border {
    --bs-border-width: 1px !important;
    --bs-border-color: #547B8C !important;
    color: #547B8C !important;
  }
 
    h2.lato-bold {
     font-size: 2.5vmax;
 }

 i{
    font-size: 3vmax;
 }

 a.icon {
    color: #22333B !important;
    text-decoration: none !important;
    padding-right: 1.5vmin !important;
    padding-left: 1.5vmin !important;
  }

  .row.single-form {
    box-shadow:  0 8px 12px -7px #667B80;
  }

  .left {
    background: #FFB202;
    color: #22333B;
    padding: 200px 98px;
  }
  .left h2 {
    color: #22333B;
    font-size: 3.5vmax;
    font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  }
  .single-form{
      background: #fff;
  }
  .right {
    padding: 70px 100px;
    position: relative;
  }

  .form-control {
    border: 1.5px solid #22333ba8 !important;
  }

  .right button {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #547B8C;
    width: 150px;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
  }

  .right button:hover{
      background-color: #43816F;
      color: #fff;
  }

  .form-label{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #22333B;
  }

  .col-sm-12.col-lg-6 {
    border-radius: 20px 0 0 20px;
    background-color: transparent; /* Example background color */
  }
  
  .left{
    border-radius: 20px 0 0 20px;
  }

  .row.single-form.g-0 {
    /* CSS properties */
    border-radius: 20px 0 0 20px;
  }
  
  /*responsive*/
  
  
  @media (max-width:767px){
      .left {
        padding: 20px 15px;
    text-align: center;
  }

  .left h2 {
    font-size: 25px;
  }
  .right {
    padding: 25px;
  }
      .right button {
    width: 150px;
    padding: 12px 0;
  }

  .col-sm-12.col-lg-6 {
    border-radius: 15px 15px 0 0 ;
    background-color: transparent; /* Example background color */
  }
  
  .left{
    border-radius: 15px 15px 0 0 ;
  }

  .row.single-form.g-0 {
    /* CSS properties */
    border-radius: 15px 15px 0 0 ;
  }
      
  }

  
  
 
 
  /*footer*/

footer{
    background-color: #96c5b7;
  }
  .footerContainer{
    width: 100%;
    padding-top: 2vmax;
  }
  .socialIcons{
    display: flex;
    justify-content: center;
  }
  
  .socialIcons a i{
    font-size: 2em;
    color:#22333B;
    opacity: 0,9;
  }
  
  /* Hover affect on social media icon */
  .socialIcons a:hover{
    transition: 0.5s;
  }
  .socialIcons a:hover i{
    color: white;
    transition: 0.5s;
  }
  
  .footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  .footerNav ul li a{
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }
  
  hr {
    margin: 0.1vmin !important;
    margin-bottom: 1vmax !important;
    color: #22333B !important;
    border: 0;
    opacity: .25;
  }
  
  a.icon {
    color: #43816F !important;
    text-decoration: none !important;
    padding-right: 1.5vmin !important;
    padding-left: 1.5vmin !important;
  }
  
  .bg-trav{
    background-color: #96c5b7;
  }
  
  .footerNav ul li a:hover{
    opacity: 1;
  }
  .footerBottom{
    background-color: #96c5b7;
    padding: 1vmax;
    text-align: center;
  }
  .footerBottom p{
    color: #22333B;
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }


  @media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 0px;
    }
  
    .socialIcons a i{
      font-size: 1.2em;
      color:#22333B;
      opacity: 0,9;
    }
  }
  
  /*footer*/