/*nav*/
.navbar {
  background-color: rgba(255, 255, 255, 0.95)
 }

 .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #43816F !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  position: relative;
}

a.nav-link{
  color: #22333B !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-nav .nav-link.active::after, .navbar-nav .nav-link.show::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px; 
  width: 100%;
  height: 0.15vmax;
  background-color: #43816F;
}



@media (max-width: 576px) {
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    font-family: "Lato", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
    position: relative;
  }
  
  .navbar-nav .nav-link.active::after, .navbar-nav .nav-link.show::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; /* Adjust this value to control the space between text and underline */
    width: 100%;
    height: 0vmax; /* Adjust the thickness of the underline */
    background-color: #43816F;
  }
}
 
.navbar .navbar-nav .nav-link {
  color: #22333B;
  font-size: 1.4vmax;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.navbar .navbar-nav .nav-link:hover{
  color: #547B8C;
  font-family: "Lato", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}
.navbar-logo-centered .navbar-nav .nav-link{
  padding: .5em 1em;
}

/*nav*/

/*TIPOGRAFÍA*/

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}



.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*MENÚ*/



/*CONTENERDOR PESTAÑA*/

/*IMG PRINCIPAL*/

.img {
  background-image: url('../imagenes/img1.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  /* Ajusta la altura según sea necesario */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animate 20s infinite;
}

@keyframes animate {
  20% {
    background-image: url('../imagenes/img1.jpg');
    background-size: cover;

  }


  40% {
    background-image: url('../imagenes/img3.jpg');
    background-size: cover;

  }

  60% {
    background-image: url('../imagenes/img4.jpg');
    background-size: cover;

  }

  80% {
    background-image: url('../imagenes/img5.jpg');
    background-size: cover;

  }

  100% {
    background-image: url('../imagenes/img7.jpg');
    background-size: cover;

  }

}

/*linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.0)),*/

.bg-blue{
  color:#FDFEFD !important;
  background-color: #547B8C;
}

/*TITULO PRINCIPAL*/
p {
  font-size: 1.2vmax;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #22333B;

}

h1.lato-bold {
  font-size: 2.8vmax;
}


/*ESTLO PÁRRAFO*/

p {
  font-size: 1.2vmax;

}


p2 {
  font-size: 1.2vmax;
  font-style: bold;

}

/*DESCRIP SERVICIOS*/

.col-6 {
  padding: 20px;
 ;
}

/*BARRA*/

.barra {
  padding: 15px 10px;
  width: 50%;
  margin-left: 625px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px 0px 0px 20px  ;
  background: #FFB202;
}


/*COTIZAR*/

.cuadro {
  padding: 5px 10px;
  width: 100%;
  background: #547B8C;
}

.btn1 {
  display: block;
  width: 215px;
  background-color: #FFB202;
  border-radius: 15px;
  padding: 15px 30px;
  margin: 30px 130px;
  color: #22333B;
  text-decoration: none;
}

.btn1:hover {
  background-color: transparent;
  border: 2px solid #FFB202;
  color: #FFB202;
  text-decoration: none;
}

.btn1 {

  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 20px;
  font-style: normal;
  color: #22333B;

}

.ahora {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal
}

.ahora:hover {
  background-color: transparent;
  color: #FFB202;
  text-decoration: none;
}

/*footer*/

footer{
  background-color: #96c5b7;
}
.footerContainer{
  width: 100%;
  padding-top: 2vmax;
}
.socialIcons{
  display: flex;
  justify-content: center;
}

.socialIcons a i{
  font-size: 2em;
  color:#22333B;
  opacity: 0,9;
}

/* Hover affect on social media icon */
.socialIcons a:hover{
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

hr {
  margin: 0.1vmin !important;
  margin-bottom: 1vmax !important;
  color: #22333B !important;
  border: 0;
  opacity: .25;
}

a.icon {
  color: #43816F !important;
  text-decoration: none !important;
  padding-right: 1.5vmin !important;
  padding-left: 1.5vmin !important;
}

.bg-trav{
  background-color: #96c5b7;
}

.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #96c5b7;
  padding: 1vmax;
  text-align: center;
}
.footerBottom p{
  color: #22333B;
  font-size: 1.8vmax;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 0px;
  }

  .socialIcons a i{
    font-size: 1.2em;
    color:#22333B;
    opacity: 0,9;
  }
}

/*footer*/